/* ********** HEADER ********** */

.home {
  height: 100vh;
  background: linear-gradient(180deg, rgba(3, 3, 3, 0.424219) 40%, rgba(68, 67, 67, 0.45) 114%), url(../img/home-background.png) center;
  background-repeat: no-repeat;
}

.wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px transparent solid;
  padding: 10px 20px;
}

.wrapper-top--active {
  border-bottom: 1px #ffffff groove;
  background-color: #282b21;
  transition: all 0.2s 0.2s linear;
  opacity: 0.95;
}

.wrapper-top__logo {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
  color: #ffffff;
}

.wrapper-middle {
  position: absolute;
  top: 200px;
  left: 20px;
}

.wrapper-middle__text {
  margin: 0;
  line-height: 32px;
  font-family: "Oleo Script", cursive;
  font-size: 26px;
  color: #ffffff;
}

.wrapper-middle__text--green {
  color: #91a57d;
}

.wrapper-bottom {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.wrapper-bottom__qoute {
  margin: 0;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.wrapper-bottom__qoute-mark {
  position: absolute;
  top: 3px;
  left: -16px;
  font-family: "Oleo Script", cursive;
  font-size: 40px;
  font-weight: 500;
  color: #91a57d;
}

.wrapper-bottom__qoute-author {
  margin-top: 5px;
  font-family: "Oleo Script", cursive;
  font-size: 19px;
  color: #ffffff;
}

/* ********** MAIN ********** */

.main__section {
  padding: 20px;
}

.main__section--on-green-background {
  position: relative;
  background-color: #a3a585;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 30px; */
}

/* ********** TITLE ********** */

.title__heading {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 22px;
  color: #313525;
}

.title__heading--on-green-background {
  color: #ffffff;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.title__description {
  width: 80%;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eef3f0;
  padding: 10px;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 14px;
  color: #a3a585;
}

.title__description--on-green-background {
  color: #eef3f0;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* ********** CLIPPING ********** */

.clipping {
  position: absolute;
  top: -38px;
  left: 0;
  width: 235px;
  height: 490px;
  background: url("/img/others/clipping-white.png") no-repeat;
  background-size: contain;
}

.clipping__item {
  position: absolute;
  height: 34px;
  -webkit-user-drag: none;
}

.clipping__item--html-5 {
  top: 245px;
  left: -4px;
}

.clipping__item--css-3 {
  top: 145px;
  left: -4px;
}

.clipping__item--sass {
  top: 34px;
  left: 40px;
}

.clipping__item--git {
  width: 45px;
  height: 25px;
  top: 112px;
  left: 2px;
}

.clipping__item--typescript {
  top: 78px;
  left: 34px;
}

.clipping__item--javascript {
  top: 22px;
}

.clipping__item--react {
  top: 64px;
  left: -2px;
}

.clipping__item--firebase {
  width: 18px;
  height: 30px;
  top: 195px;
}

.forest {
  height: 400px;
  background: url("/img/forest-working-gradient.png") no-repeat center;
  background-size: cover;
}
