/* ********** HEADER ********** */

.home {
  height: 100vh;
  background: linear-gradient(180deg, rgba(3, 3, 3, 0.424219) 40%, rgba(68, 67, 67, 0.45) 114%), url(../img/home-background.png) center;
  background-repeat: no-repeat;
}

.wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px transparent solid;
  padding: 10px 20px;
}

.wrapper-top--active {
  border-bottom: 1px #d7dad8 groove;
  background-color: #282b21;
  transition: all 0.2s 0.2s linear;
  opacity: 0.95;
}

.wrapper-top__logo {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
  color: #d7dad8;
}

.wrapper-middle {
  position: absolute;
  top: 200px;
  left: 20px;
}

.wrapper-middle__text {
  margin: 0;
  line-height: 32px;
  font-family: "Oleo Script", cursive;
  font-size: 26px;
  color: #d7dad8;
}

.wrapper-middle__text--green {
  color: #91a57d;
}

.wrapper-bottom {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.wrapper-bottom__qoute {
  margin: 0;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #d7dad8;
}

.wrapper-bottom__qoute-mark {
  position: absolute;
  top: 3px;
  left: -16px;
  font-family: "Oleo Script", cursive;
  font-size: 40px;
  font-weight: 500;
  color: #91a57d;
}

.wrapper-bottom__qoute-author {
  margin-top: 5px;
  font-family: "Oleo Script", cursive;
  font-size: 19px;
  color: #d7dad8;
}

.wrapper-vector__vector-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 15px;
}

.wrapper-vector__vector-down--higher {
  bottom: 20px;
}

/* ********** MAIN ********** */

.main__section {
  padding: 0 20px;
}

.main__section--on-green-background {
  position: relative;
  background-color: #a3a585;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

/* ********** TITLE ********** */

.title__heading {
  font-size: 30px;
  color: #313525;
}

.title__heading--on-green-background {
  color: #ffffff;
}

.title__description {
  width: 80%;
  margin: 0;
  border-bottom: 1px solid #d7dad8;
  padding: 10px;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 14px;
  color: #a3a585;
}

.title__description--on-green-background {
  color: #d7dad8;
}

/* ********** ARTICLE ********** */

.article__icon {
  width: 100px;
  cursor: pointer;
  -webkit-user-drag: none;
}

@keyframes animate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  55% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
  }
}

.article__icon--animate {
  animation: animate 1.5s alternate linear;
}

.article__heading {
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.article__text {
  line-height: 24px;
  text-align: justify;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 14px;
  color: #313525;
}

.article__text--on-green-background {
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
