html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 15px;
}

/* ********** MAIN ********** */

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 25px;
}

.main__section--on-green-background {
  position: relative;
  background-color: var(--clr-light-green);
}

.main__section--home {
  height: 100vh;
  background: linear-gradient(180deg, rgba(3, 3, 3, 0.424219) 40%, rgba(68, 67, 67, 0.45) 114%), url(../img/home-background.png) center;
  background-repeat: no-repeat;
}

.main__section--forest-background {
  min-height: 400px;
  height: 400px;
  background: url("/img/forest-working-gradient.png") no-repeat center;
  background-size: cover;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ********** SECTION TITLE ********** */

.title {
  min-width: 275px;
  margin: 25px 0 45px;
  gap: 10px;
}

.title__heading {
  font-size: 22.5px;
  color: var(--clr-dark-green);
}

.title__heading--on-green-background {
  color: var(--clr-white);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.title__description {
  width: 80%;
  border-bottom: 1px solid var(--clr-description-underline);
  padding: 10px 20px;
  line-height: 28px;
  text-align: center;
  color: var(--clr-light-green);
}

.title__description--on-green-background {
  color: var(--clr-white-green);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.copyright {
  padding: 20px;
  background-color: var(--clr-light-green);
}

.copyright__item {
  line-height: 24px;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--clr-white);
}

/* ********** MEDIA QUERIES ********** */

@media screen and (min-width: 600px) {
  .main__section--forest-background {
    height: 480px;
  }

  .title {
    margin: 25px 0 60px;
  }

  .title__description {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  * {
    font-size: 14.5px;
  }

  .main__section--forest-background {
    background-attachment: fixed;
  }

  .title__heading {
    font-size: 23px;
  }

  .title__description {
    line-height: 30px;
  }
}

@media screen and (min-width: 1025px) {
  * {
    font-size: 15px;
  }

  .main__section--home {
    background-size: cover;
  }

  .title__heading {
    font-size: 26px;
  }

  .title__description {
    line-height: 32px;
  }
}

@media screen and (min-width: 1600px) {
  * {
    font-size: 15.5px;
  }

  .title__heading {
    font-size: 28px;
  }

  .title__description {
    line-height: 34px;
  }
}
