html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 13.5px;
}

/* ********** MAIN ********** */

.main__section {
  padding: 20px;
}

.main__section--on-green-background {
  position: relative;
  background-color: var(--clr-light-green);
}

.main__section--home {
  height: 100vh;
  background: linear-gradient(180deg, rgba(3, 3, 3, 0.424219) 40%, rgba(68, 67, 67, 0.45) 114%), url(../img/home-background.png) center;
  background-repeat: no-repeat;
}

.main__section--forest-background {
  height: 400px;
  background: url("/img/forest-working-gradient.png") no-repeat center;
  background-size: cover;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ********** SECTION TITLE ********** */

.title__heading {
  margin: 20px 0 10px;
  font-size: var(--font-size-bigger);
  color: var(--clr-dark-green);
}

.title__heading--on-green-background {
  color: var(--clr-white);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.title__description {
  width: 80%;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--clr-description-underline);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--clr-light-green);
}

.title__description--on-green-background {
  color: var(--clr-white-green);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.copyright {
  padding: 20px;
  background-color: var(--clr-light-green);
}

.copyright__item {
  line-height: 24px;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--clr-white);
}
