/* ********** CLIPPING ********** */

.clipping {
  position: absolute;
  top: -38px;
  left: 0;
  width: 235px;
  height: 490px;
  background: url("/img/others/clipping-white.png") no-repeat;
  background-size: contain;
}

.clipping__item {
  position: absolute;
  height: 34px;
  -webkit-user-drag: none;
}

.clipping__item--html-5 {
  top: 245px;
  left: -4px;
}

.clipping__item--css-3 {
  top: 145px;
  left: -4px;
}

.clipping__item--sass {
  top: 34px;
  left: 40px;
}

.clipping__item--git {
  width: 45px;
  height: 25px;
  top: 112px;
  left: 2px;
}

.clipping__item--typescript {
  top: 78px;
  left: 34px;
}

.clipping__item--javascript {
  top: 22px;
}

.clipping__item--react {
  top: 64px;
  left: -2px;
}

.clipping__item--firebase {
  width: 18px;
  height: 30px;
  top: 195px;
}
