/* ********** ARTICLE ICON - ANIMATE - PULSE ********** */

.article__icon-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.article__icon-wrapper--pulse {
  z-index: 0;
}

.article__icon-wrapper--pulse::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 5px;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.6;
  animation: pulse 4.5s ease-out infinite;
}

.main__section--on-green-background .article__icon-wrapper--pulse::before {
  opacity: 0.9;
}

@keyframes pulse {
  10% {
    background-color: var(--clr-green);
  }
  35% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    /* transform: scale(1.6); */
    opacity: 0;
  }
}

@media screen and (min-width: 769px) {
  .article__icon-wrapper--pulse::before {
    top: 6px;
    left: 10px;
  }

  @keyframes pulse {
    10% {
      background-color: var(--clr-green);
    }
    35% {
      transform: scale(1.75);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1025px) {
  .article__icon-wrapper--pulse::before {
    top: 9px;
    left: 12px;
  }

  @keyframes pulse {
    10% {
      background-color: var(--clr-green);
    }
    35% {
      transform: scale(1.9);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
