/* ********** ARTICLE ICON - ANIMATE - PULSE ********** */

.article__icon-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.article__icon-wrapper--pulse {
  z-index: 0;
}

.article__icon-wrapper--pulse::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 5px;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.35;
}

.main__section--on-green-background .article__icon-wrapper--pulse::before {
  opacity: 0.6;
}

.article__icon-wrapper--pulse::before {
  animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
  30% {
    background-color: var(--clr-green);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
