/* ********** ARTICLE ********** */
.article-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  gap: 30px;
  width: 90%;
  margin-bottom: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.article__icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-user-drag: none;
  z-index: 1;
}

.article__icon-wrapper .article__icon {
  cursor: pointer;
  transition: transform 0.15s linear;
}

.article__icon-wrapper .article__icon:hover {
  transform: scale(1.2);
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 28px;
}

.article__heading {
  font-size: 15.5px;
  text-align: center;
  color: var(--clr-dark-green);
}

.article__heading--on-green-background {
  color: var(--clr-white);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}

.article__text {
  margin: 12px 0 28px;
  line-height: 24px;
  text-align: justify;
  color: var(--clr-dark-green);
}

.main__section--rollable .article__text {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s linear, opacity 0.5s 0.5s linear;
}

.main__section--rollable .article__text--visible {
  max-height: 300px;
  opacity: 1;
}

.article__text--on-green-background {
  color: var(--clr-white);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
}
