/* ********** BTN ********** */

.button {
  margin: 5px;
  border-radius: 5px;
  /* padding: 10px 8px; */
  font-family: "Open Sans", sans-serif;
  color: var(--clr-white);
  cursor: pointer;
}

.button__anchor {
  display: block;
  height: 100%;
  padding: 10px 8px;
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: var(--clr-white);
}

.button__anchor:link,
.button__anchor:visited {
  color: var(--clr-white);
}

/* ********** BTN--GREEN ********** */

.button--green {
  border: 1px solid var(--clr-green);
  background-color: var(--clr-green);
  transition: all 0.3s ease;
}

.button--green:hover,
.button--green:active {
  border: 1px solid var(--clr-white);
  background-color: transparent;
  color: var(--clr-white);
}

.button--on-white-background {
  margin: 16px 0;
  padding: 10px 8px;
}

.button--on-white-background:hover,
.button--on-white-background:active {
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
}

/* ********** BTN--TRANSPARENT ********** */

.button--transparent {
  z-index: 1;
  position: relative;
  border: 1px solid var(--clr-white);
  background-color: transparent;
  transition: ease-out 0.3s;
}

.button--transparent:hover,
.button--transparent:active {
  border: 1px solid var(--clr-green);
  color: var(--clr-white);
}

.button--transparent:before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: var(--clr-green);
  transition: all 0.3s ease;
  opacity: 0;
  content: "";
}

.button--transparent:hover:before,
.button--transparent:active:before {
  z-index: -1;
  left: 0;
  right: 0;
  border: 1px solid var(--clr-green);
  transition: all 0.3s ease;
  opacity: 1;
}
