.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.form__label {
  margin: 16px 0 7px;
  color: var(--clr-dark-green);
}

.form__input {
  min-width: 300px;
  max-width: 300px;
  max-height: 250px;
  border: 1.9px solid var(--clr-green);
  border-radius: 5px;
  padding: 8px;
  color: var(--clr-dark-green);
  outline: none;
}

.form__input:focus {
  background-color: var(--clr-white-green);
}

.form__input--bad-validation {
  border: 1.9px solid var(--clr-bad-validation);
}

.form__button {
  width: 100%;
}

.form__error {
  height: 14px;
  margin-top: 4px;
  font-size: var(--font-size-small);
  color: var(--clr-bad-validation);
}
