.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 25px;
}

.form__label {
  margin: 16px 0 7px;
  color: var(--clr-dark-green);
}

.form__input {
  width: 100%;
  border: 1.9px solid var(--clr-green);
  border-radius: 5px;
  padding: 8px;
  color: var(--clr-dark-green);
  outline: none;
}

.form__input--text-area {
  min-width: 100%;
  max-width: 100%;
  max-height: 750px;
  height: 36vh;
}

.form__input:focus {
  background-color: var(--clr-white-green);
}

.form__input--bad-validation {
  border: 1.9px solid var(--clr-bad-validation);
}

.form__button {
  width: 100%;
}

.form__error {
  height: 14px;
  margin-top: 4px;
  font-size: var(--font-size-small);
  color: var(--clr-bad-validation);
}

/* ********** MEDIA QUERIES ********** */

@media screen and (min-width: 500px) {
  .form {
    width: 86%;
  }
}

@media screen and (min-width: 600px) {
  .form {
    width: 82%;
  }
}

@media screen and (min-width: 700px) {
  .form {
    width: 78%;
  }
}

@media screen and (min-width: 769px) {
  .form {
    width: 74%;
  }

  .form__input {
    min-height: 45px;
  }
}

@media screen and (min-width: 900px) {
  .form {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .form {
    width: 66%;
  }

  .form__input {
    min-height: 52px;
  }
}

@media screen and (min-width: 1100px) {
  .form {
    width: 62%;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 58%;
  }
}

@media screen and (min-width: 1300px) {
  .form {
    width: 54%;
  }
}

@media screen and (min-width: 1400px) {
  .form {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .form {
    width: 46%;
  }
}

@media screen and (min-width: 1600px) {
  .form {
    width: 42%;
  }
}
