/* ********** HELLO ********** */

.hello {
  position: absolute;
  top: 200px;
  left: 20px;
}

.hello__text {
  margin: 0;
  line-height: 32px;
  font-family: "Oleo Script", cursive;
  font-size: 23.5px;
  color: var(--clr-white);
}

.hello__text--green {
  color: var(--clr-hello-green);
}
