/* ********** QUOTE ********** */

.quote {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.quote__text {
  margin: 0;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--clr-white);
}

.quote__mark {
  position: absolute;
  top: 3px;
  left: -16px;
  font-family: "Oleo Script", cursive;
  font-size: 40px;
  font-weight: 500;
  color: var(--clr-hello-green);
}

.quote__author {
  margin-top: 5px;
  font-family: "Oleo Script", cursive;
  font-size: var(--font-size-big);
  color: var(--clr-white);
}
