/* ********** QUOTE ********** */

.quote {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.quote__text {
  margin: 0;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: var(--clr-white);
}

.quote__mark {
  position: absolute;
  top: 3px;
  left: -20px;
  font-family: "Oleo Script", cursive;
  font-size: 45px;
  font-weight: 500;
  color: var(--clr-hello-green);
}

.quote__author {
  margin: 5px 0 10px;
  font-family: "Oleo Script", cursive;
  font-size: 19px;
  color: var(--clr-white);
}

/* ********** MEDIA QUERIES ********** */

@media screen and (min-width: 600px) {
  .quote {
    left: 40px;
  }

  .quote__text {
    line-height: 30px;
    font-size: 19px;
  }

  .quote__mark {
    left: -25px;
    font-size: 55px;
  }

  .quote__author {
    font-size: 21px;
  }
}

@media screen and (min-width: 1025px) {
  .quote {
    left: 60px;
  }

  .quote__text {
    line-height: 34px;
    font-size: 21px;
  }

  .quote__mark {
    left: -30px;
    font-size: 65px;
  }

  .quote__author {
    font-size: 22px;
  }
}

@media screen and (min-width: 1600px) {
  .quote {
    left: 100px;
  }

  .quote__text {
    line-height: 36px;
    font-size: 22px;
  }

  .quote__mark {
    left: -35px;
    font-size: 75px;
  }

  .quote__author {
    font-size: 23px;
  }
}
